/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles (for larger screens by default) */
.App-container {
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #FFF3E0, #FFE0B2, #FFD54F);
  width: 100%;
  height: 100vh;
}

.App-logo {
  z-index: 0;
  height: 30rem;
  pointer-events: none;
  padding: 0%;
  margin: 0%;
}

.App-text {
  padding: 0%;
  margin: 0%;
  z-index: 1;
  font-size: 2rem; /* Larger font size for desktop */
  font-family: 'Pacifico', cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}

.App-button {
  background-color: white;
  color: #4a4a4a;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.App-button:hover {
  background-color: #f9fafb;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .App-container {
    height: 100%; /* Adjust height for mobile */
    flex-direction: column; /* Stack elements vertically */
  }

  .App-logo {
    height: 12rem; /* Smaller logo size for mobile */
  }

  .App-text {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .App-button {
    width: 80%; /* Make buttons wider on mobile */
    margin-top: 1rem; /* Add space between elements */
  }
}

/* Remove animation-related styles */
