/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent; /* Background managed by Tailwind */
}

.App-logo {
  z-index: -1;
  height: 12 rem; /* Adjust logo size */
  pointer-events: none;
}

.App-header-text {
  z-index: 1;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
